

<div class="m-content margin-t-68">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form [formGroup]="Form1" novalidate (ngSubmit)="Save(Form1.valid)" action="" class="PassForm">
                <div class="clearfix">
                    <a href="#" class="center-block">
                        <img src="./assets/demo/demo12/media/img/logo/logo.png" />
                    </a>
                </div>
                <h4 class="grid-heading">
                    Create Password
                </h4>
                <div class="form-group">
                    <label for="usr">New Password</label>
                    <input type="password" formControlName="Pwd" [(ngModel)]="model.Pwd" maxlength="1000" class="form-control m-input">
                    <small *ngIf="Form1.controls.Pwd.hasError('required') && submitted">
                        This value is required.
                    </small>
                    <small *ngIf="Form1.controls.Pwd.hasError('minlength') && !Form1.controls.Pwd.hasError('required')">
                        At least 6 chracters
                    </small>
                </div>
                <div class="form-group">
                    <label for="usr">Confirm Password</label>
                    <input type="password" formControlName="CPassword" [(ngModel)]="model.CPassword" maxlength="1000" class="form-control m-input">
                    <small *ngIf="model.Pwd!=model.CPassword  && submitted">
                        Password not match.
                    </small>
                </div>
                <div>
                    <button mat-button class="btn btn-red center-block mt-custom-btn btn-large" type="submit">Create Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet mt-paydayportlet">
                <div class="m-portlet__body">
                    <form class="m-form m-form--label-align-left- m-form--state-">
                        <div class="clearfix">





                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>