<div class="container body-content mt-bodycontent" id="main-container">
    <div class="row no-row-margin-lr">
        <div class="col-xs-offset-3 col-xs-6 grid-box grid shadow-box-t-border margin-t-50">
            <div class="col-sm-12 grid text-center">
                <div class="row no-padding-lr">
                    <div class="col-sm-12 margin-t-30">
                        <h3 class="grid-heading">Your password has been reset</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            Please click <a [routerLink]="['/login']" style="color:#00a4d3;">here</a> to Sign In.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>